* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  padding: 15px;
  width: 100%;
  /* width: 90vw; */
  /* height: 90vh; */
  height: 100vh;
}
